[2015-02-17 06:09] D630 opened #1 "bash-preexec"
Hey,

I have forked your project and modified it to my needs. Have a look at [it](https://github.com/D630/bpx), if you like.

Cheers

[2015-02-18 22:53] rcaloras commented on #1
Cool man, any particular reason for the fork? I'm interested in trying to address use cases that my current implementation may not support. Not to mention bugs :) Thanks for your interest!

[2015-02-24 09:26] D630 commented on #1
Ja, there were two reasons:
- I have removed the sed scripts and (the very smart!) invocation/use of `__bp_trim_whitespace()` in `__bp_precmd_invoke_cmd()` to speed up the thing a bit
- access to `$?` in the `precmd` mechanism. Currently, I am using it like [this](https://github.com/D630/stow-dot-pub/blob/master/bash/.bashrc.d/11-prompt.sh)

In my last commit, preexecution is beeing allowed, even

[2015-02-24 16:02] rcaloras commented on #1
Yeah the use of sed to save the previous prompt command and the trimming is all stuff that is a little heavy. I actually just needed to get access to ```$?``` as well so I wrote 417c01bba263e54084a1ff2028e0de to sort of simulate it.

Thanks for your feedback and input. Feel free to open anything or put in a pull request if you want to make changes.

[2015-02-25 08:39] D630 commented on #1
Thanks!

[2015-02-25 08:39] #1 closed

[2015-05-18 18:16] exalted opened #2 "How is this different than Glyph Lefkowitz’s original version?"
Just for curiosity, I wanted to know how is this different than [Glyph Lefkowitz’s original version](http://www.twistedmatrix.com/users/glyph/preexec.bash.txt) please?

Thanks.

[2015-05-18 23:10] rcaloras commented on #2
Howdy,

The largest is it's more similar to zsh by providing function arrays to hook multiple functions for pre and post cmd execution (detailed in the readme!) and preserving things like the return value of the last command. In general though, it's more robust and actually packaged for reuse. There are a lot of small things and edge cases I covered like:

*  Multiple Inclusion
[code]
*  Name spac

[2015-05-19 20:50] eleweek opened #3 "Please add LICENSE file"
Hi, there is no LICENSE file, which means that:

https://help.github.com/articles/open-source-licensing/

Could you please add a LICENSE file? If you don't really care about how people use the code, choose something permissive like e.g. MIT license

[2015-05-20 00:04] rcaloras commented on #3
I'm interested to hear how people are using it, but definitely want it to be permissive. Enjoy!

[2015-05-20 00:04] #3 closed

[2015-05-20 00:08] eleweek commented on #3
Thank you very much!

That's what I figured! You have a really nice documentation.

Right now I'm implementing this: https://github.com/eleweek/histsync (very alpha stage) -- "Cloud Bash History" app. I needed a way to upload a command when it is executed.

So I tried $PROMPT_COMMAND, but I ran into multiple issues(e.g. commands get uploaded when you create a new shell). It is not the same thing a

[2015-05-20 00:14] rcaloras commented on #3
Wow, sound like you're building the same thing I am! Please check out my project and give it a try. Would love your help as a contributor. It's called bashhub. https://github.com/rcaloras/bashhub-client

[2015-05-20 00:16] rcaloras commented on #3
Sending you an email, looks like there's a lot of similarities to what we're working on.

[2015-05-23 16:03] rcaloras commented on #2
Feel free to post any other questions. Thanks!

[2015-05-23 16:03] #2 closed

[2015-05-25 09:56] exalted commented on #2
@rcaloras sorry for being such a lazy *ss! Thanks for detailed explanation. I will see how can I make it work in my own use case and eventually report back if things make sense.

Cheers!

[2015-05-26 22:14] alexbardas opened #4 "Display command execution time"
I want to display the time spent running a command. I've defined the following functions:

[code]
On bash `version 4.3.33(1)-release (x86_64-apple-darwin14.1.0)` on a mac works as expected. However, on a ubuntu 14.04 `version 4.3.11(1)-release (x86_64-pc-linux-gnu)` it doesn't.

It looks like the order of execution on mac is `prexec -> precmd`, while on linux is `precmd - > preexec`, but even if I

[2015-05-26 23:57] rcaloras commented on #4
FYI can you just use the `time` command? e.g. `time echo "hello"` My guess is you need to do this for every command though :)

Weird, I use on both mac and linux and it's fine.

Here's what my system looks like for linux. Same as yours.
[code]

I can also use your setup fine and it works on my linux box:

[code]

You might be using something else in your PROMPT_COMMAND. What does it return?
[code]

[2015-05-28 05:54] D630 commented on #4
Run also `set -o verbose` or `set -o xtrace` to see what is going on

[2015-05-28 21:19] alexbardas commented on #4
The environments (mac and ubuntu) were almost identical, but there was only 1 difference: on ubuntu I am also using [z](https://github.com/rupa/z). After I've installed z on mac, it has also started to misbehave.
Given that z is a popular plugin, is there any possibility to run both z and preexec ?

[code]

[code]

[2015-05-28 23:41] rcaloras commented on #4
Just installed `z` and played with it a bit. Cool plugin. I believe there's a simple fix :)

Just make sure bash-preexec.sh is imported/sourced after you import z.sh.  The ` __bp_interactive_mode` function needs to be the last thing in your prompt command. Preexec needs that function to be able to tell when you're entering commands on the comamnd line vs something like your git prompt or z which i

[2015-05-28 23:42] D630 commented on #4
You must source `z` before `bash-preexec`

[2015-05-28 23:46] rcaloras commented on #4
Added f4c5ad for clarity

[2015-05-29 09:48] alexbardas commented on #4
Thanks, it solved my issue.

[2015-05-29 09:48] #4 closed

[2015-06-17 16:28] evverx opened #6 "`preexec` doesn't work for functions"
[code]

[2015-06-17 16:49] rcaloras commented on #6
Hey thanks for the feedback! This is a known limitation along with subshell parsing e.g. doing something like
[code]

I have a branch in progress for this fix, but it's not too easy. https://github.com/rcaloras/bash-preexec/tree/SubShellParsing.

It actually takes a decent amount of time for bash to handle this case and I believe it creates some lag. Would love your contribution if you can help fi

[2015-06-17 16:59] evverx commented on #6
@rcaloras , thanks. I'll read https://github.com/rcaloras/bash-preexec/tree/SubShellParsing this evening:)

[2015-06-17 17:28] evverx commented on #6
Reminder for me:
[code]

[2015-06-18 05:18] rcaloras commented on #6
That should address the space issue :) Not sure about functions yet though.

[2015-06-18 05:45] evverx commented on #6
@rcaloras , thanks:)
But `man bash` says:
[code]
Overwriting `HISTCONTROL` is privacy issue:)

[2015-06-18 13:55] rcaloras commented on #6
Yeah it should also replace `ignoreboth` with just `ignoredups`.

Why is overwriting histcontrol a privacy issue? This plugin overwrites both bash's  `DEBUG` trap and `PROMPT_COMMAND` IMO that's more invasive :P

[2015-06-18 19:56] evverx commented on #6
that's the joke:)

Reminder for me:
Some useful variables and options:
[code]

[2015-06-21 07:13] rcaloras commented on #6
Added a commit to handle ignoreboth. Could probably add a few more checks to make sure history is properly enabled. Something like

[code]

[2015-06-21 07:14] rcaloras commented on #6
Could probably add a few more checks to make sure history is properly enabled. Something like

[code]

[2015-06-21 07:16] rcaloras commented on #6
I think it might be easier to get functions by checking changes in the bash history then investigating things like sub shell parsing.

[2015-06-22 00:23] evverx commented on #6
@rcaloras , thanks.

[code]
Too many checks: `history on`, `HISTSIZE`, `history-size` in `~/.inputrc`...

I vote for auto enabling:)

I've collected some useful settings:
[code]

[2015-06-22 05:02] evverx commented on #6
Another `history` problem is `HISTTIMEFORMAT`

[code]

Possible solution:
[code]

[2015-06-22 05:17] rcaloras commented on #6
Want to submit a pull request for that one? Would love to get you some contributor credit :) Feel free to open it as a separate issue if you'd like so we can close it specifically.

[2015-06-23 19:45] evverx commented on #6
Fixed:)

[2015-06-28 23:37] rcaloras commented on #6
@evverx I created a viable work around that's based on history changes to detect sub shell and function executed commands.

Give it a look. I'm testing it out now. I'll merge to master and cut a release if I find it's working fine.

[2015-06-28 23:47] rcaloras opened #10 "Check to make sure History is enabled."
Several history features should be checked or enabled to make sure bash-preexec can operate correctly.

One example is simply making sure history is turned on.
[code]

Quoted by @evverx on #6 :

@rcaloras , thanks.
Could probably add a few more checks to make sure history is properly enabled

Too many checks: `history on`, `HISTSIZE`, `history-size` in `~/.inputrc`...

I vote for auto enabling:)

[2015-06-28 23:48] rcaloras commented on #6
Also moved your history related suggestions to https://github.com/rcaloras/bash-preexec/issues/10. Thanks!

[2015-06-29 10:50] evverx commented on #6
Wow!
@rcaloras , thanks.
I'll test this change tomorrow.

[2015-06-29 10:52] evverx commented on #10
See also: my [bulletproof history collector](https://gist.github.com/evverx/695129199b5c7f4d0f94) :)

[2015-07-08 13:10] rcaloras commented on #6
Bump! @evverx I'm going to merge and cut a version if you're cool with this guy. I've been using it locally for a few days now on my installation of [bashhub](https://github.com/rcaloras/bashhub-client) and all seems good.

[2015-07-08 13:27] evverx commented on #6
@rcaloras , sorry.
There is a problem:
[code]

[2015-07-25 23:53] rcaloras commented on #6
So here's the problem. Function declarations and subshell commands don't invoke the `DEBUG` trap. So I instead monitor changes to the history file and invoke preexec when a changes occurs. As such we'd also need to remove ignoring duplicates to detect that someone has declared the same function twice or entered the same subshell command twice.

Although I removed the ignoring for white spaces by d

[2015-08-14 17:11] karlgodard opened #11 "Is it possible to capture the output of a shell command?"
i.e if I type "ls", can something be done in bash-preexec.sh to feed the ouput of "ls" into the invocation of precmd?

[2015-08-14 19:18] isp5 commented on #6
I have a question that seems to be related to some of this discussion. While using this script, the history does not store duplicate commands. Is there any particular reason for that? Forgive me if this is self-explanatory, I possibly haven't looked at it enough to figure it out on my own.

[2015-08-15 05:06] evverx commented on #6
Hi, @isp5 .
You have `ignoreboth` or `ignoredups` in the `HISTCONTROL` variable.
Try `HISTCONTROL=`.

[2015-08-15 15:37] rcaloras commented on #11
Howdy,

I've been considering something like this for [Bashhub](https://github.com/rcaloras/bashhub-client). Probably doesn't make sense for bash-preexec to do it as this is just supposed to be a plugin/addon to provide Zsh type functionality for Bash. I have come across some hacks to do what you want though, check out http://stackoverflow.com/a/6052267/1282124.

If you have some luck connecting i

[2015-08-17 12:43] isp5 commented on #6
Thanks! Any particular reason the history was set like that?

[2015-08-17 13:48] rcaloras commented on #6
`bash-preexec` shouldn't change that aspect of your `HISTCONTROL`. It will alter it to **not** ignore whitespace. Ignoredups or ignoreboth were probably set by something else, but if I'm mistaken please let me know :)

[2015-08-17 14:26] evverx commented on #6
@isp5, that comes from one of your configurations files (`bashrc`,  `bash_profile` etc)

For Debian and Ubuntu see:

[history of multiple identical commands](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=74300)

often), bash will remember all if them. To get to the previous command one
has to press <up> many-many times. Annoying.

and this is very convenient. I don't know whether they've patch

[2015-08-30 23:28] #11 closed

[2015-10-24 00:30] D630 opened #17 "Remove subshells and external commands (= sed)"
Hi,

I have opened four pull requests. Don't know, whether they are compatible with Bash on BSD

#13, #14, #15, #16

[2015-10-26 03:06] rcaloras commented on #17
Hey @D630!

Thanks for the contributions, I'll give them a look over the next day and pull them in. What would you say are the major benefits of removing the subshells and sed? Simplicity, portability, speed?

Appreciate it :+1:

[2015-10-27 13:34] D630 commented on #17
Hey!

It is unnecessary to use sed, because bash can do the job itself (and in the end even faster). Command substitutions are only necessary, if we do need the output of a command. But in #15 and #16 it is sufficient to work with exit/return status. See also [SubShell](http://mywiki.wooledge.org/SubShell).

So, the major benefits are simplicity and speed

[2015-11-03 14:47] rcaloras commented on #17
Thank you for the contributions @D630! Much appreciated. :+1:

Would love your feedback or input on my project [Bashhub](https://github.com/rcaloras/bashhub-client) which uses bash-preexec if you're interested.

[2015-11-03 14:47] #17 closed

[2015-12-03 06:23] gnachman opened #19 "preexec breaks passed-in environment variables when used with command builtin"
I received this bug report for my script which uses the same trickery as bash-preexec:

https://gitlab.com/gnachman/iterm2/issues/3644

It seems that setting a DEBUG trap breaks this use case:

[code]

To reproduce with bash-preexec:

[code]

This is a problem because it means preexec is incompatible with building Android, and who knows what else. Seems like a bug in bash, but I'm not much of a ba

[2015-12-03 08:01] rcaloras commented on #19
@gnachman Thanks for reporting! I'll give this a look over the weekend and see if I can find a workaround.

[2015-12-05 17:18] shpoont opened #20 "Incompatibility with "z""
Steps to reproduce:
1. Install "z" from https://github.com/rupa/z
2. Source "z" before "bash-preexec"
3. Start new shell session

Actual result:
1. The precmd function is executed
2. The preexec function is executed with last command from history

Expected result:
1. The precmd function is executed

[2015-12-06 20:10] rcaloras commented on #20
@shpoont thanks for opening the issue and using bash-preexec! Noticed you added it to [brew](https://github.com/Homebrew/homebrew/commit/3c81f48b174375db5cd50a7669305bcefe429aad) and used it as a requirement for your project :D

I'm unable to reproduce this issue with master, so maybe it's due to bugs in v2.2. I'll cut 2.3 for you now.

[2015-12-06 20:19] rcaloras commented on #20
Just cut `0.2.3` can you give that a try and see if that's working?

[2015-12-07 00:02] shpoont commented on #20
Hi, I still have the same problem on 0.2.3

[2015-12-07 00:18] rcaloras commented on #20
I'm unable to reproduce on OS X or Linux. Bash Versions 3.2 and 4.3 respectively.

`~/.bash_profile` looks like:
[code]
Opening a new terminal window:
[code]
`PROMPT_COMMAND` looks like this:
[code]
What's your `PROMPT_COMMAND` look like?

[2015-12-07 00:20] rcaloras commented on #20
Alternatively _z could be invoked via `precmd()` or `preexec()` which would avoid empty returns.

[2015-12-07 00:32] rcaloras commented on #20
FYI there was a similar issue a little while back, but it was just a sourcing problem. So some other folks have been able to use these together successfully :) https://github.com/rcaloras/bash-preexec/issues/4

[2015-12-07 00:34] rcaloras commented on #20
Perhaps bash-preexec is not the last thing sourced in your config file. `__bp_interactive_mode` needs to be the last thing in your `PROMPT_COMMAND`

[2015-12-09 01:01] rcaloras commented on #20
@shpoont any luck?

[2015-12-11 15:28] shpoont commented on #20
Hey @rcaloras I just checked again and it looks to be ok with the latest version. Also I am able to run powerline after bash-preexec and it works fine, just fyi ;)

Thanks for your help!

[2015-12-11 15:28] #20 closed

[2015-12-11 15:34] rcaloras commented on #20
@shpoont great good to hear!

[2016-02-21 01:03] potiuk commented on #19
Had the same problem. It's pretty annoying but seems it's a very isolated problem, that at least until this is fixed, has a simple workaround for Android build. This will at least let Android builders use the goodies of @gnachman's iTerm2 shell integration, which is brilliant :)

Patch for build directory of android

[code]

[2016-02-21 04:41] naseer commented on #19
Can you please submit this on the AOSP gerrit?

[2016-02-22 08:20] potiuk commented on #19
Will do :)

[2016-02-24 06:40] gnachman commented on #6
The original code from twistedmatrix (http://www.twistedmatrix.com/users/glyph/preexec.bash.txt) had this:
[code]
I see that isn't in this code. One possible reason not to use is that some bashes will complain when you do this from a dotfile, saying:
[code]
I can't figure out any way to avoid this problem, so maybe it's not a usable technique, but I thought I'd mention it in case someone who's bet

[2016-02-24 09:40] rcaloras commented on #6
@gnachman Thanks for the input!

I removed those lines during the original rewrite as I was never able to get them to work correctly. I added them back on the [SubShellParsing](https://github.com/rcaloras/bash-preexec/commit/5b29ce7e1d9a65002ad70dc5ba9a0da42a3ea554#diff-9f42bfd9f684d2763a4d12cc481506a1R181) branch and got it sort of working, but ran into issues with the PS1 variable.

[2016-02-24 09:42] rcaloras commented on #6
Yeah looking back through my comments. It failed on things like prompts that include environment information (e.g. git branch, virtual env)

[2016-02-26 06:35] gnachman commented on #6
I'm using a [weird series of hacks](https://github.com/gnachman/iterm2-website/blob/master/source/misc/bash_startup.in) on top of the old twistedmatrix code but it behaves itself with a PS1 like this (i.e., preexec and precmd run at the right time):

[code]

Is that what you meant about prompts that include environment information?

[2016-03-29 18:22] rcaloras commented on #6
@gnachman Yeah exactly. I'm looking through your code now. I'll definitely try to recreate it. Looks like you're doing some interesting stuff with PS1 to work around it e.g. https://github.com/gnachman/iterm2-website/blob/master/source/misc/bash_startup.in#L62-L83.

I actually just had some users of [Bashhub](github.com/rcaloras/bashhub-client) try to use Iterm2 + Shell Integration and it [failed]

[2016-03-29 18:22] rcaloras opened #21 "Conflicts with iTerm2 shell integration."
Causes: https://github.com/rcaloras/bashhub-client/issues/27

Looks like both projects leverage the debug trap to create a preexec function. @gnachman any chance you could be convinced to use this library if it can provide everything you need for iTerm2's preexec functionality? I'm happy to make all the PRs :) I want to make sure Bashhub and iTerm2 can work together.

*Quoted from* https://github.

[2016-03-31 01:19] gnachman commented on #6
@rcaloras I would love to not own the preexec code. It hurts my head. The main difficulty is ensuring it works on the ancient version of bash that ships with Mac OS, and the weird hack for CentOS 7.2.

[2016-03-31 01:21] gnachman commented on #21
See my comment in #6

[2016-03-31 01:40] rcaloras commented on #6
@gnachman Awesome, would love to take it off your hands. I'm traveling over the next few weeks, but will take a look at aligning mine with some of your changes when I get back. Thanks! :+1:

[2016-04-21 13:11] rcaloras commented on #6
@evverx Addressed the issue for subshells by looking at some of the code from @gnachman. `[[ ! -t 1 && -z ]]` was the main thing I was was missing 👍

Not positive there's a solution for functions :/ I'm going to release this and another change. Give it a try if you get a chance. If everything looks good I'll rename this issue to just address function declarations.

[2016-04-24 08:57] evverx commented on #6
@rcaloras , works fine! Thanks!
[code]
But I really don't understand how:)

[2016-05-01 13:53] rcaloras commented on #21
Fixed in 0.3.0.

[2016-05-01 13:53] #21 closed

[2016-05-16 20:10] kylebrowning opened #24 "Cannot get true exit status"
I run lots of scripts so Ive been wanting bash to update some things once its done.

doing a `precmd() { updatestatus -green; echo $?; }; `

shows that Bash exit status is 0, even if I type `false`

[code]

[2016-05-16 20:56] rcaloras commented on #24
@kylebrowning I think $? is picking up the exit status of the command before it `updatestatus`. If you want to use the exit status you should save it as the first command in your precmd function.

[code]
Let me know if it's still an issue!

[2016-05-17 17:44] rcaloras commented on #24
@kylebrowning all good?

[2016-05-17 17:45] kylebrowning commented on #24
Yup!

[2016-05-17 17:45] #24 closed

[2016-06-24 12:33] davefx opened #25 "Background subshells may finalize session"
After loading bash-preexec.sh, if I launch, for example:
`
$ ( ls ) &
`
most of the times, bash exits (not always).

[2016-06-24 12:49] rcaloras commented on #25
@davefx thanks for reporting. Just recognizing this now as a result of some issues with bashhub that's using bash-preexec. Believe the changes made to support subshells in [0.3.0](https://github.com/rcaloras/bash-preexec/releases/tag/0.3.0) cause this. You can use 0.2.3 if you don't mind losing subshell support.

[2016-06-24 13:35] rcaloras commented on #25
@davefx Could you also post the version of bash you're using?
[code]

[2016-06-24 13:40] rcaloras commented on #25
Believe this is impacting bash versions >= 4.2

[2016-06-24 13:52] davefx commented on #25
I've reproduced this problem with bash 4.3.42(1) and 4.3.30(1).

As some other tips:
If I execute something after the background process, bash doesn't finish .
`
$ (ls)& echo Hello
`

[2016-07-20 03:50] rcaloras commented on #25
Was able to boil this down to a simple code block to recreate. Still not sure the best way to handle this

[code]

[2016-07-21 02:17] rcaloras commented on #25
@davefx was this occurring on a box you were ssh'd into? I can't recreate this locally regardless of the version. I can only recreate when ssh'd onto a box.

[2016-07-21 05:54] davefx commented on #25
No. This happens also locally in X terminals in my Ubuntu 16.04 system with bash 4.3.46(1)-release.

[2016-07-25 06:14] davefx opened #27 ".bash_logout commands get called with preexec repeating the last command line if logging out with CTRL+D"
When logging out from an Ubuntu ssh session with CTRL+D in an empty command line, the preexec function gets called with the previous "$1" while executing the line `/usr/bin/clear_console -q` from `~/.bash_logout`.
For example:
[code]
(The logout was generated pressing CTRL+D)

[2016-07-26 06:25] rcaloras commented on #27
@davefx thanks for reporting! Giving it a look.

[2016-09-19 18:38] D630 opened #28 "bash 4.4: using $PS0"
As far I can see,  we may avoid the DEBUG trap in version 4.4:

[code]

PS0 is expanded before DEBUG

[2016-09-19 18:44] rcaloras commented on #28
@D630 thanks for opening! Was thinking about this when I saw http://superuser.com/a/1052132 a little while back. Probably makes sense to add some version detection and then hook into the appropriate interface.

[2016-09-23 18:48] rcaloras commented on #25
Looks like this got mentioned to some folks looking into this as a bug in bash. http://lists.gnu.org/archive/html/bug-bash/2016-09/msg00006.html

[2016-10-01 18:30] adggit commented on #25
When the DEBUG trap is set with functrace on, it causes other problems too.  E.g., certain command groups piped to a pager program will get stopped (via SIGTTOU/SIGTTIN when the pager accesses the tty):

[code]
In general (with functrace on and the DEBUG trap set) a group of command pipelines in the form below will get stopped:

[code]
This happens if the first command of the group (cmd_a) is not

[2016-10-01 20:29] adggit commented on #25
Just for reference, I originally reported this as bash bug [1] without realizing that I actually had functrace/DEBUG on, but when the bash maintainers could not reproduce it, I traced it to my preexec setup and eventually on to functrace/DEBUG [2].

[1] http://lists.gnu.org/archive/html/bug-bash/2016-09/msg00127.html
[2] http://lists.gnu.org/archive/html/bug-bash/2016-10/msg00000.html

[2016-10-01 23:31] rcaloras commented on #25
@adggit thanks for posting for reference! This issue is a real pain.

The good news is, preexec can now be implemented with $PS0 in bash 4.4. I'd love to add version detection to bash-preexec and install hooks to $PS0 if you're using the latest versions of Bash. Mentioned originally in https://github.com/rcaloras/bash-preexec/issues/28 Would love a PR from someone on this.

[2016-10-02 11:39] D630 commented on #28
Ok, I have updated my [repo](https://github.com/D630/bpx) to use PS0 only.

Note:
PSO is meant to be expanded; there is no PROMPT_COMMAND like thing for it. So we have to write something like `PSO='$(preexec)'`. Then there are the following problems:
- BASH_COMMAND is unusable;
- you can not set any further strings in PSO via preexec (you can set PS1 in precmd);
- the command substitution removes

[2016-10-02 20:16] rcaloras commented on #28
@D630 awesome. Giving it a look.

Could you elaborate on your second bullet?
 - you can not set any further strings in PSO via preexec (you can set PS1 in precmd);

Do you mean you can't alter PS0 itself while it's invoked?

[2016-10-03 06:02] D630 commented on #28
That's possible:

[code]

But not:

[code]

[2016-10-03 06:19] D630 commented on #28
Also possible:

[code]

[2016-10-03 08:29] D630 commented on #28
I would go with something like:

[code]

What is [then](https://www.gnu.org/software/bash/manual/bash.html#Controlling-the-Prompt):

[code]

[2016-10-07 10:44] Integralist opened #29 "Doesn't actually work at all"
[code]

Here is my Bash version (installed via Homebrew):

[code]

Here is the bash location:

[code]

[2016-10-07 11:21] rcaloras commented on #29
@Integralist thanks for opening. Could you provide a bit more debugging information after you've sourced bash-preexec.sh?

[code]
Should return values like..
[code]

Not sure about the homebrew installation, as I didn't create it or use it, but my guess is something is conflicting with your trap or PROMPT_COMMAND.

[2016-10-07 14:00] Integralist commented on #29
Sure thing @rcaloras the details you've asked for are as follows...

[code]

[2016-10-07 14:49] rcaloras commented on #29
So it looks like bash-preexec is getting pulled in correctly, but PROMPT_COMMAND is not right. If it's right, your PROMPT_COMMAND should have at least the two functions mine does:

[code]

Looking at your ~/.bashrc, it looks like you're overwriting PROMPT_COMMAND in a few places. From your file:

[code]

One thing you could do is remove the overwriting of PROMPT_COMMAND and instead define whatever

[2016-10-07 15:23] Integralist commented on #29
Heya, so I've got this working now. Totally my bad.

I sorted out my command prompt setup and it works fine 👍

Thanks for taking the time to look into this, you were right `PROMPT_COMMAND` was getting messed around with when it didn't need to be now I'm using your script

[2016-10-07 15:23] #29 closed

[2016-10-07 22:24] rcaloras commented on #29
@Integralist no worries! Glad you got it working and I could help! Feel free to checkout some of my other projects as well, bash-preexec was designed to power https://bashhub.com.

[2016-10-09 13:04] raimue commented on #28
I doubt `PS0` can ever be used for an implementation of `preexec()`. `PS0` is treated as a prompt _string_, not a list of commands. The only way to inject commands is by substitution with `$()`.

However, command substitutions run in their own subshell, therefore no variables in the original shell can be modified from this context. This would be different behavior than running commands in the trap

[2016-10-09 16:22] D630 commented on #28
Thanks for pointing it out again. I think, it's obviously a preprompt, not preexecution thing!

PS0 will be set before the hole command line is beeing executed, which may also be a command list; it's expanded after the list from the line has been read. That is, you have only got access to the hole line (when you have enabled the command history feature). The DEBUG trap applies to every command pip

[2016-10-10 04:22] rcaloras commented on #28
Ahh bummer, was really hoping to move to something more reliable than the DEBUG trap due to https://github.com/rcaloras/bash-preexec/issues/25 Hopes dashed for now :/

[2016-11-18 10:23] Integralist opened #30 "Stops triggering precmd every once in a while"
So I've noticed that every once in a while (it seems random, although maybe we'll discover there's something I'm doing that's causing this problem), my shell will stop updating the prompt (PS1)

I use https://github.com/git/git/blob/master/contrib/completion/git-prompt.sh in order to display git branch information within my prompt and so this is where I usually first notice the issue of `precmd` n

[2016-11-18 10:31] Integralist commented on #30
So I've found that I can cause this issue to happen every time I do `source ~/.bashrc`

[2016-11-18 10:44] Integralist commented on #30
OK narrowed it down even further to this specific command:

[code]

But I'm not sure yet why this is causing an issue.

Any ideas?

[2016-11-18 10:50] Integralist commented on #30
I've fixed the issue (I believe) by just executing `history -a` in `.bashrc` rather than assigning it to `PROMPT_COMMAND`. But reading up on it http://www.tldp.org/HOWTO/Bash-Prompt-HOWTO/x264.html I wouldn't have expected that to have caused an issue like it did?

[2016-11-19 16:32] rcaloras commented on #30
Hey Mark,

Thanks for opening! Looks like it was related to your configuration like https://github.com/rcaloras/bash-preexec/issues/29 with interfering with `PROMPT_COMMAND`. In general, bash-preexec tries to maintain any existing `PROMPT_COMMAND`, but there are some situations where it may become buggy. If you ever need to maintain something that was previously in `PROMPT_COMMAND`, you can also m

[2016-11-19 16:32] #30 closed

[2016-11-24 10:33] vroumvroum opened #31 "Preexec before SSH command"
Hello,

I'm trying to change my tmux window name on the fly when i'm connecting to another server through SSH.
I tried the following :

`preexec() { if [ "$1" == "ssh" ]; then tmux rename-window $3@$1; else tmux rename-window $(whoami)@$(hostname); fi }`

After trying `ssh myhost -l myuser`
Preexec does not seem to be executed ...

Am i missing something ?

Thank you, regards, Greg.

[2016-11-27 00:07] rcaloras commented on #31
Hey @vroumvroum,

I'm unable to recreate. Could you try using a simpler preexec command? e.g.

[code]

[2016-11-28 14:29] vroumvroum commented on #31
Hey @rcaloras,

Thank you so much for answering.
It's working now. I didn't understand that command line arguments was all aggregated into "$1".

So I needed to cut "$1" or make a regex search on it. Here is what I did

[code]
Regards, Greg.

[2016-11-28 16:47] rcaloras commented on #31
Great. Glad to hear everything is good. Thanks for using bash-preexec!

[2016-11-28 16:47] #31 closed

[2017-01-07 21:12] CaptainQuirk opened #33 "Is it possible to define preexec and precmd function just for a specific script ?"
Hi there !

I was just wondering if it was possible to define preexec and precmd functions inside a script so that any information gathered there can be used in a local context.

Thanks in advance

[2017-01-09 22:08] D630 commented on #28
I have been thinking about the preexec hook for quite a while (again). Maybe I am wrong, but in the end I found, that PS0 cannot replace the DEBUG trap as key to emulate the zsh prexec itself, (since you need command substitution for functions in it) but with the help of Readline key sequences you can! I have just now updated my bpx repo. Check it out and let me know, what do you think!

[2017-01-10 04:29] rcaloras commented on #33
Hey @CaptainQuirk! Not sure I understand your question exactly, but you can't define preexec and precmd functions for scripts. The function will only work for commands run interactively from the terminal..

[2017-01-30 15:59] beyondcompute opened #34 "[question] Modify command before invocation (but add an unmodified one to history)"
Hello and thank you for you terrifically useful project! 🙂
One simple question regarding usage. Is it possible to do something with the command entered (`$1` in `preexec` function) before it gets executed by the shell? My practical interest is to append `time` to every command, for example.
Thank you for your response in advance and have a good week!

[2017-01-30 18:41] rcaloras commented on #34
@beyondcompute Thanks!
Don't think you can modify the command that is about to be executed, but you can modify the environment. e.g. Set variables which can be used after the fact. You can use that to do the same thing as `time` to track the duration of a command. There's a handful of libraries where people do this and place it in their prompt I believe.

In any of the examples, just swap the pree

[2017-01-31 06:18] rcaloras commented on #34
@beyondcompute feel free to reopen if you have any other questions 👍

[2017-01-31 06:18] #34 closed

[2017-01-31 12:17] beyondcompute commented on #34
Thanks a lot, @rcaloras! 🥇 I really appreciate your help!

[2017-02-07 06:05] rcaloras commented on #33
@CaptainQuirk closing this, feel free to reopen if needed!

[2017-02-07 06:05] #33 closed

[2017-04-27 21:24] CeleritasCelery opened #36 "injecting preexec function name into terminal when using editor"
When editing a Bash command you can use `Ctrl-x Ctrl-e` to open the command in `$EDITOR`, which I have set to Vim. Once I am doing editing the command, i execute `:wq` to quit Vim and when I look at my terminal I see `__bp_preexec_invoke_exec` being injected into the output.

So for example if I create the command `echo foo` in vim then ran it, my output would look like
[code]

Any idea why this m

[2017-04-27 21:59] D630 commented on #36
Maybe you can define a preexec function with something like `echo "$BASH_COMMAND"` to see what is beeing executed by "edit-and-execute-command".

I get the follwowing:
[code]

[2017-04-27 22:19] CeleritasCelery commented on #36
when I use set -v I get and try the command `echo foo`
[code]

Does it not inject the function into the output for you?

[2017-04-28 00:29] rcaloras commented on #36
@CeleritasCelery Yes. I'm getting the same output as in your top example. Wondering what's causing it in bash-preexec.

[2017-04-28 01:07] dschep commented on #36
I've noticed this behavior for a while but I just ignore it :stuck_out_tongue:

[2017-04-28 02:52] rcaloras commented on #36
I'm not positive there's anything that can be done about this since bash-preexec relies on bash's `DEBUG` trap.

Even setting a no-op here will be echoed out. Using your example from above @CeleritasCelery  e.g.
[code]

[2017-04-28 02:56] rcaloras commented on #36
@CeleritasCelery unfortunately this is a product of using the `DEBUG` trap which is pretty much a must.
@D630 any idea why edit and execute pulls in the contents of the trap?

[2017-04-28 07:42] D630 commented on #36
@rcaloras It's not because of Readline's "edit-and-execute-command", it's due to fc, that
sets the verbose flag before executing the file. See
http://git.savannah.gnu.org/cgit/bash.git/tree/builtins/fc.def?h=devel

I suppose you can avoid it, if you bind your own "edit-and-execute-command" ...

[2017-04-28 12:11] rcaloras commented on #36
@D630 Thanks! Looking back at your previous comment more closely makes sense now :+1:
@CeleritasCelery Sorry for the verbose output, but closing this as this is intended functionality by edit and execute.

[2017-04-28 12:11] #36 closed

[2017-04-28 12:43] CeleritasCelery commented on #36
thanks for looking into it

[2017-05-04 14:48] frozenminds opened #37 "Can I completely abort command execution?"
Hello,

I'm trying to write a helper for certain commands in `preexec`, but when certain conditions are met I'd like to completely abort execution of the command.

Is this possible?

Thank you in advance!

[2017-05-04 17:07] brandonweeks commented on #37
I added this functionality in #35.

[2017-05-04 19:35] rcaloras commented on #37
@frozenminds thanks for opening. I'm not positive off hand how you'd do this, but @brandonweeks might have some idea. Perhaps via `extdebug` as was mentioned in the previous PR.

[2017-05-05 08:50] richard-scott commented on #37
Maybe this will help:

[code]

[2017-05-05 09:00] richard-scott commented on #37
LOL looking back, that may be a bad example as it then renders that bash session useless as you can't unset SKIP to be false ;-(

Using this may be better as an example:
[code]

This disables the "ls" command, but allows "ls -al" to work.

[2017-05-06 14:29] rcaloras commented on #37
@richard-scott Thanks for the example! :+1:
@frozenminds going to close this out as Rich's example looks sufficient. Feel free to reopen or start a new issue if you have any other questions/problems.

[2017-05-06 14:29] #37 closed

[2017-05-09 03:38] brandonweeks opened #39 "Preserve existing DEBUG traps"
Currently bash-preexec clobbers existing DEBUG traps when it is sourced. Would you be interested in a PR that moves the contents of `trap -p DEBUG` into a function and appends it to `preexec_functions`?

[2017-05-09 04:53] dimo414 commented on #39
Similar support for `PROMPT_COMMAND` (appended to `precmd_functions`) would also be nice.

[2017-05-09 14:42] rcaloras commented on #39
the original `PROMPT_COMMAND` should be preserved as part of `PROMPT_COMMAND`still.
https://github.com/rcaloras/bash-preexec/blob/master/bash-preexec.sh#L270

We could also move it to the precmd_functions array as well.

[2017-05-09 17:11] dimo414 commented on #39
Ah, nice. Moving it to `precmd_functions` (if that's what's done for the `DEBUG` trap) would make sense assuming it wouldn't break anyone. Otherwise leaving it as-is is probably fine.

[2017-05-10 08:21] richard-scott opened #42 "bash: read: read error: 0: Invalid argument"
Hi,

Every now and then I get the following issue after pressing return on entering a new command:
[code]

I'm guessing that this bit of code is causing the issue:
[code]
I have changed the read part to be this:

[code]
and that seems to have squished the message for now. I'll keep an eye on things to see how it goes.

Thanks,

Rich

[2017-05-11 04:31] rcaloras commented on #42
@richard-scott would love a PR if you think this solves the issue. Feel free to open!

[2017-06-16 08:24] aravindananthapadmanabhan opened #45 "support required for logging mysql shell using pre-exec"
I Think it will be a nice feature to have  a method of supporting logs of mysql queries fired from a mysql shell.

[2017-06-16 15:32] rcaloras commented on #45
Cool idea. I've always wanted to pull shell/console commands for things like MySql, Postgres, Mongo or REPLs (e.g. Python, Scala, Ruby consoles) into a service like [Bashhub](https://bashhub.com).

The MySql shell is separate/different from Bash though. It's outside the scope of this project.

 I'd search around. I'm surprised a mysql shell wouldn't have this. Maybe ask over at https://github.com/

[2017-06-16 15:32] #45 closed

[2017-07-14 05:04] gnachman opened #48 "Question on HISTCONTROL"
After adopting bash-preexec for a script I maintain, I received a bug report that it changes `HISTCONTROL`: https://gitlab.com/gnachman/iterm2/issues/5787#note_34771330

Based on the comment in the code, I think I'd rather preserve HISTCONTROL than get leading and trailing spaces correctly reported (I strip them anyway):

[code]

Is the comment accurate? Are there any traps if I remove the call to

[2017-07-14 12:56] rcaloras commented on #48
@gnachman Thanks for opening. I added `bp_adjust_histcontrol` because bash-preexec currently depends on history for getting the entered command to pass to `preexec`. For reference: https://github.com/rcaloras/bash-preexec/blob/master/bash-preexec.sh#L181 If you don't use `$1` in preexec, removing it is perfectly safe. Are you using `$1` in preexec?

This is the most accurate way to get the command

[2017-07-14 12:57] rcaloras commented on #48
btw, excited to hear you're using bash-preexec for item2. Love your project. Keep up the great work :+1:

[2017-07-15 18:42] dimo414 commented on #39
I'm actually not sure this is true; I found that [sourced scripts can't override an existing DEBUG trap](https://stackoverflow.com/q/43989793/113632). Worse, it seems from within the sourced script there's no way to tell whether a DEBUG trap was already set or not. I'm not sure if this FR is possible.

[2017-07-15 18:57] rcaloras commented on #39
@dimo414 I noticed this a little while back. The debug trap isn't actually set when sourcing the script. bash-preexec actually does a two part install where it hooks its install function first into `PROMPT_COMMAND` and then runs setup through the invocation of that function. e.g. https://github.com/rcaloras/bash-preexec/blob/master/bash-preexec.sh#L306. and https://github.com/rcaloras/bash-preexec

[2017-07-16 04:20] gnachman commented on #48
That explains it. I am not using $1 in preexec. You can see the combined code here:

https://iterm2.com/shell_integration/bash

I think I'll remove the call to bp_adjust_histcontrol. If someone has two scripts that use bash-preexec they'll need to do some hacking.

[2017-07-16 04:20] #48 closed

[2017-07-16 08:01] rcaloras commented on #48
Awesome, sounds like it should be all good. :+1:

[2017-07-18 09:31] dimo414 commented on #39
Well that's clever :) It would not have crossed my mind to try that. In that case it seems like it should be possible to add the trap to `preexec_functions` with something like:

    preexec_functions+=("$(trap -p DEBUG | sed -e "s/trap -- '//" -e "s/' DEBUG//")")

There's probably a better way to extract the DEBUG command, but that worked in a pinch. I take it your open to a pull request adding s

[2017-07-18 13:29] rcaloras commented on #39
Of course! Please feel free  to submit a PR :+1:

[2017-08-11 02:59] rcaloras commented on #39
Closing addressed by @dimo414

[2017-09-06 05:31] rcaloras commented on #42
Closing this due to inactivity. @richard-scott feel free to reopen if you think this is still an issue.

[2017-09-06 05:31] #42 closed

[2017-09-06 15:15] mfthomps opened #51 "__bp_preexec_invoke_exec invoked on ctrl-C from command line"
When the user ctrl-C at the bash prompt (e.g., begins typing a command, thinks better of it, and presses ctrl-C), the __bp_preexec_invoke_exec() function is invoked, and it finds the previous command from history.  I've been unable to find a way for the __bp_preexec_invoke_exec() function to determine if it is invoked because of a command, or because the user hit control-c.

[2017-09-07 05:04] rcaloras commented on #51
@mfthomps thanks for opening an issue. Why are you using `__bp_preexec_invoke_exec`? That should be an internal function to the script and not one needed to interface with. A typical use case would add functions to the `preexec_functions` array or define `preexec`. I'm unable to recreate output for a preexec function when triggering ctrl-C. e.g.

[code]

[2017-09-07 22:12] mfthomps commented on #51
Thank you for the simple example that helped me realize my problem was due to an error in my .profile that was trapping the SIGINT
Per your question about my use of __bp_preexec_invoke_exec -- I made some modifications to support our use to modify & execute selected commands and tee their stdin & stdout to log files.  In those cases, the __bp_preexec_invoke_exec() just returns rather than allowing

[2017-09-07 22:12] #51 closed

[2017-09-08 08:44] rcaloras commented on #51
@mfthomps great to hear. Feel free to re-open if you need any more support with this issue.

[2017-09-08 18:44] dimo414 opened #52 "Preserved DEBUG traps should be invoked every time, not just on preexec"
A coworker pointed out that that the fix to #39 doesn't properly preserve the behavior of the DEBUG trap, because preexec [only triggers on interactive prompts](https://github.com/rcaloras/bash-preexec/blob/a1bab0c/bash-preexec.sh#L133), whereas the prior operation was triggered on every DEBUG trap.

I think this can be fixed by simply moving the old DEBUG trap _out_ of `preexec_functions` and ins

[2017-09-10 03:09] rcaloras commented on #52
@dimo414 interesting observation. Since the original implementation simply overwrote the existing `DEBUG` trap I think anything is really an improvement here :)

I'm in favor of having a variable preserving the contents of the prior debug trap and invoked how you spec'd. Although it widens the API it's definitely a better experience. It does make things a little more complicated, but if we want to

[2017-09-10 03:10] rcaloras commented on #52
Assigning over! As always thanks for the contributions :100: :1st_place_medal:

[2017-09-11 04:45] jombooth commented on #27
I have an idea for fixing this; the output of fc -l (a replacement for history, see https://github.com/rcaloras/bash-preexec/issues/52) gives a number for each command, like this:
1048     set +x
1049     ls
1050     ld
1051     fc -l 0

if we store the last processed command number, then we can skip preexec in the case it hasn't changed.

[2017-09-11 07:14] dimo414 commented on #27
Would it make sense to replace the existing short-circuit checks in `__bp_preexec_invoke_exec` with this check? Put another way is it the case that preexec should fire if-and-only-if the command number has changed?

[2017-09-11 12:16] rcaloras commented on #27
I've considered this before. @jombooth What about the case where we have duplicate commands and `ignoredups` set? e.g. You enter the same command twice. History will not change (no increment in number) but we should invoke `preexec`.

[2017-09-23 04:55] gnachman opened #55 "Use `builtin history` instead of `history`"
Some users like to redefine bash builtins, so it's unsafe to use them without saying `builtin` first. Here's an issue report where a user had defined an alias for `history` and it broke `bash-preexec`: https://gitlab.com/gnachman/iterm2/issues/6063

What do you think about replacing the use of `history` with `builtin history`?

[2017-09-23 09:55] D630 commented on #55
Yeah.

Or `command \history`.

Cons: It slows down everything a bit, and you need to take care of quoting in combination with some builtins.

And what about:
[code]

[2017-09-23 15:56] rcaloras commented on #55
@gnachman sgtm.
@D630 The cons you listed apply to adding builtin here?

Stamp #56 if you think we're good to go and I'll merge and tag :+1:

[2017-09-24 23:08] rcaloras commented on #55
Cut [0.3.4](https://github.com/rcaloras/bash-preexec/releases/tag/0.3.4). @gnachman thanks for reporting.

[2017-09-24 23:08] #55 closed

[2017-10-05 00:53] jombooth opened #58 "Incompatible prompt_command settings"
Some users of a project I work on that's based on Bash-Preexec modify their prompt command in ~/.bashrc after sourcing the script. In some cases, we've found they'll do this:

<source bash-preexec>
PROMPT_COMMAND+="history -a"

This breaks BP, because prompt_command ends in "__bp_install", so on first execution, the user gets a
"no such command: __bp_installhistory" message.

To fix this particula

[2017-10-05 03:15] rcaloras commented on #58
Yeah, there used to be semicolons, but we decided to remove them. https://github.com/rcaloras/bash-preexec/pull/41

Newlines sound more forgiving :) want to submit the PR?

[2017-10-18 04:05] rcaloras commented on #58
@jombooth closing this guy since I merged the PR. Hoping this is fixed now on master.

[2017-10-18 04:05] #58 closed

[2017-10-21 21:09] dimo414 opened #61 "Restore DEBUG trap preservation"
PR #60 regressed the fix to #39. We need to identify a new mechanism to capture traps that avoids the issues discussed there.

As I understand it this is only an issue for users who erroneously `export` their `PROMPT_COMMAND` at some point in their `.bashrc`, so if we can detect that case we could simply not preserve traps for those users.

[2017-10-24 16:21] lguelorget commented on #61
Gave it a go at: https://github.com/rcaloras/bash-preexec/pull/62

[2017-10-25 22:45] lguelorget commented on #61
I believe I've addressed the regression in https://github.com/rcaloras/bash-preexec/pull/62/. Let me know if that works.

[2017-10-27 02:17] rcaloras commented on #61
@lguelorget Thanks a lot for the PR! Much appreciated :+1: :100:

[2017-10-31 03:06] #61 closed

[2017-10-31 03:06] rcaloras commented on #61
Released 0.3.6 which has the fix for this.

[2017-12-21 11:09] sbeldekov opened #63 "Edit and execute command in editor"
Bash -4.4

1) press C-X,C-V to open an editor (vim in my case) and edit a command (e.g. 'uptime'), save and quit
2) see the following output

`$ `
`uptime`
`__bp_preexec_invoke_exec "$_"`
`14:00  up 12:18, 2 users, load averages: 1.44 1.56 1.58`

I believe the 3rd row is unwanted

Thanks!

[2017-12-21 18:59] rcaloras commented on #63
@sbeldekov thanks for opening! This issue was originally opened and closed back in April. Check out the full thread: https://github.com/rcaloras/bash-preexec/issues/36

This is intended functionality with edit and execute. Closing since it's a duplicate of the other issue. Feel free to reopen if you feel differently.

[2017-12-21 18:59] #63 closed

[2018-01-06 06:24] gnachman opened #64 "Setting `IFS=_` breaks __bp_precmd_invoke_cmd"
I received the following issue report:

https://gitlab.com/gnachman/iterm2/issues/6398

The internals of `__bp_precmd_invoke_cmd` assume `IFS` has its default value. I think you could do this:

1. At the top of `__bp_precmd_invoke_cmd`, save the current value of `IFS` to a local variable
2. Set `IFS` to ` \t\n`
3. At the end of `__bp_precmd_invoke_cmd` restore `IFS` to the saved value.

What do yo

[2018-01-08 00:06] rcaloras commented on #64
@gnachman Thanks for reporting! Did as you suggested storing it. I created a couple small helpers based on https://unix.stackexchange.com/a/264947.  Give #65 a quick look when you get a sec. I'll cut a version as soon as it's merged.

[2018-01-08 17:41] rcaloras commented on #64
cc @D630 @dimo414 @lguelorget bash-preexec's ⭐️ contributors.

[2018-01-09 00:48] dimo414 commented on #64
I worry the proposed fix would essentially introduce the opposite problem, since the user's function would be invoked with bash-preexec's `IFS`. Sure, we could do the same resetting/restoring logic inside the loops too, but that's pretty nasty.

What exactly is the behavior that's IFS-dependent currently? At a glance I don't see it.

[2018-01-09 00:58] rcaloras commented on #64
@dimo414 That's true. IFS will be set to bash-preexec's definition for precmd and preexec.

Maybe I'm over complicating things, but if I don't have default IFS our for loops will break. For read statements it's possible to set IFS on the [same line](https://github.com/rcaloras/bash-preexec/commit/6529e23da9400849cc837f47a1bb2a26fe5fc803#diff-9f42bfd9f684d2763a4d12cc481506a1R207). Wonder if I can d

[2018-01-09 03:44] rcaloras commented on #64
Updated to set original IFS across `precmd` and `preexec` functions

[2018-01-09 21:27] dimo414 commented on #64
Can you share a particular example? I believe that array-splitting (e.g. `for e in "${my_array[@]}"`) is not impacted by IFS, though I certainly could be wrong about that. I wasn't able to break anything with a few attempts.

[2018-01-09 21:37] D630 commented on #64
Ja, I don't think setting/resetting of IFS is necessary. But you have to take care about (at least):

1. the read builtin. Set IFS as keyword parameter in front of it. Or don't use read in a pipe at all. E.g.:

[code]

2. qouting of any function executions within the loops. If the user wants to use aliases or redefine/unset internal functions, there is also the next problem.

[code]

So, I suggest

[2018-01-10 00:55] dimo414 commented on #64
Ok sorry, I just realized the issue is specifically with `IFS=_`, I misread `_` as a placeholder for *something* non-standard. Using `_` as the field separator seems like a Bad Idea™ in general, but it probably still makes sense to try to support this in bash-prexec.

I think the right first step is to add some unit tests that everything works as expected with a malicious IFS. We might be able to

[2018-01-15 03:40] rcaloras commented on #64
Thanks for the feedback @dimo414 and @D630! Just submitted #66 to address by quoting functions and setting IFS for read as advised by @D630. Tested locally and added some unit tests, I believe this fixes the problem.

[2018-01-15 03:40] #64 closed

[2018-01-15 03:49] rcaloras commented on #64
@gnachman Just released [0.3.7](https://github.com/rcaloras/bash-preexec/releases/tag/0.3.7) for the fix. Let me know if you still have any issues. Thanks for reporting and feedback!

[2018-02-01 20:48] ageis opened #67 "Pre-pend sudo to execution of binaries in /sbin"
This is more of a support question. I'm wondering if this is a valid use case:
[code]
If I'm running anything in /sbin (requiring root) then I'd like to prepend sudo to the command automatically.

[2018-02-02 11:56] D630 commented on #67
No, I don't think so. Function executions via the precmd-hook are associated with the primary prompt, which comes into play after the whole command line has been executed. Your function just runs the command line as normal, but `cmdpath` is always empty. Replace the body with `echo "$1"` and then you can see that precmd doesn't take an argument.

[2018-02-02 15:15] D630 commented on #67
The use of a preexec-hook for this task is really complicated, because you must work with `extdebug` (?!). Especially, when the command line is not a one-word simple command or contains command subsitution. I would rather use aliases:

[code]

[2018-02-03 16:15] ageis commented on #67
Okay, thanks for clarifying!

[2018-02-03 17:38] rcaloras commented on #67
@D630 thanks for providing support. Closing, feel free to reopen if needed.

[2018-02-03 17:38] #67 closed

[2018-02-07 19:02] DevasiaThomas opened #68 "This is not an issue"
Hi,
I sent @rcaloras and email (the one on github). Its about something I am working on and is very close in its implementation to this project.

[2018-02-07 21:23] rcaloras commented on #68
Hey @DevasiaThomas saw your message about changing commands with bash-preexec. I don't believe there's an easy way to do this. You could capture a command and run a modified version in preexec, but there's not a good way to substitute your modified version.

See this recent similar question: https://github.com/rcaloras/bash-preexec/issues/67

[2018-02-07 21:24] rcaloras commented on #68
Thanks for reaching out! Closing this as I don't believe bash-preexec supports your use case.

[2018-02-07 21:24] #68 closed

[2018-02-07 21:47] DevasiaThomas commented on #68
Thanks for answering. I kinda figured it out... but I'm stuck with [this issue with respect to non interactive shells] (https://stackoverflow.com/questions/48672149/im-trying-to-prevent-the-execution-of-a-command-in-bash-doesnt-work-always)

[2018-02-11 10:28] D630 commented on #67
By the way, it's easier to replace/substitute the command line using a `preread-hook` in bpx. But parsing of complicated lines is still very tricky. And there is no thing like "substitute pipeline 3, only if pipeline 2 has failed".

Exp1:

[code]

Exp2:

[code]

Exp3:

[code]

[2018-04-28 15:26] chiddekel opened #70 "Declaration of semicolon won't work."
When decelerating detecting semicolon as the first character and overnight default error message, the $1 variable it's empty.

.basrc content append of:

[code]

[2018-04-28 16:07] rcaloras commented on #70
Looks like this is translated, sorry if I misunderstand. I don't believe a semicolon by itself `;` is a valid expression in bash. If you're trying to evaluate it as the first character you could try something like https://stackoverflow.com/a/18488371/1282124

[2018-04-28 16:41] chiddekel commented on #70
GNU bash, wersja 4.4.19(1)-release (x86_64-RedHat-Linux-gnu)
And this is the case - customize error by typing an
[Command Separator ](http://www.osdata.com/programming/shell/commandseparator.html)
as the first character.
The command_not_found_handler not work - until hash some lines from vte.sh - with some errors the bash - in first run command_not_found_handler - declare on .bashrc as function -

[2018-06-07 16:01] mtesseracted commented on #10
What about if HISTCONTROL or HISTTIMEFORMAT is already set and a user has scripts that need those already set settings? I didn't see anything in the README that says it will overwrite user defined settings. I just found this repo and didn't look closely enough if it will check before overwriting but I don't think it checks.

[2018-06-07 22:32] jamesderlin opened #71 "Instructions inconsistent with script comments"
The project `README.md` clearly states:

`bash-preexec.sh` itself states:

This comment (which has a typo) seems to contradict the instructions from `README.md`.

The `README.md` instructions seem more correct; if `bash-preexec.sh` is not last, any subsequent changes to `PROMPT_COMMAND` will be lost.  At the very least, the script comment is misleading.

Additionally, perhaps `bash-preexec.sh` cou

[2018-06-08 01:10] rcaloras commented on #71
@jamesderlin Thanks for the feedback and opening the issue. Sorry it caused an issue with `z` not working properly. We should be able to preserve the altered `PROMPT_COMMAND` during `__bp_install`, but I'm not positive. I'll take a look this weekend. Please feel free to submit a PR if you think you have a fix.

[2018-09-08 23:24] gnachman opened #72 "Detect readonly HISTTIMEFORMAT"
I received an issue report from a user who had a read-only HISTTIMEFORMAT variable. It caused an error to be printed on every command executed. The issue report is here:

https://gitlab.com/gnachman/iterm2/issues/7028

You can reproduce it by doing

[code]

after loading `bash-preexec`, and you get this output on every command:

[code]

I'm not sure if bash lets you detect that the variable is rea

[2018-09-10 20:46] dimo414 commented on #72
I'm inclined to agree with this - yes bash-preexec could suppress this error message, but the [behavior](https://github.com/rcaloras/bash-preexec/blob/ea0a7d8/bash-preexec.sh#L191) would still be broken. https://stackoverflow.com/a/11248484 has similar advice.

I did come across [this article](http://www.draconyx.net/articles/bash-defensive-measures-shell-history-logging.html) which *recommends* m

[2018-09-10 22:52] gnachman commented on #72
It sounds like it would be impossible for bash-preexec to work correctly when HISTTIMEFORMAT is readonly. Given that, would it make sense to print one error at instal time and then refuse to install the debug trap and PROMPT_COMMAND? The problem with printing an error on every command is the user is left wondering who is printing it, and it's very hard to diagnose since they don't know the impleme

[2018-09-11 02:02] rcaloras commented on #72
@gnachman I think failing at install time and printing a helpful error message is probably the best option here. We could add a function to check this at: https://github.com/rcaloras/bash-preexec/blob/master/bash-preexec.sh#L281.

How does that help your issue downstream in iTerm2 though? Is it simply better since the user can probably fix themselves?

[2018-09-11 04:30] gnachman commented on #72
I agree that looks like a good place to put the check. Print an error message and return a code I can check. It's better for me because the user can help themselves instead of filing an issue 😄

[2018-09-14 12:18] #72 closed

[2018-09-23 19:09] chiddekel commented on #70
I resolve this particular issue :)

[2018-10-31 20:05] JeffreyFalgout opened #74 "preexec_function gets inaccurate arguments in tmux"
Observed problem: Exiting from `tmux` executes all `preexec_functions` with the previous command.

Expected behavior: `$1` should probably be empty or "logout", since that's what `tmux` briefly shows on my screen before exiting.

Steps to reproduce:

[code]

If you `tail -f preexec.out` while performing these steps, you see that the second `echo 123` does indeed come from the `<CTRL + D>`.

[2018-11-04 04:01] rcaloras commented on #74
@JeffreyFalgout thanks for reporting! Believe this is the same issue as #27. What do you think? Any ideas for how to address?

[2018-11-04 13:17] JeffreyFalgout commented on #74
Yep, sounds like a dupe.

[2018-11-04 13:17] JeffreyFalgout commented on #74
Duplicate of #27

[2018-11-04 13:17] #74 closed

[2018-11-04 13:55] JeffreyFalgout commented on #27
What about comparing `this_command` to `BASH_COMMAND` in `__bp_preexec_invoke_exec`?

[code]

[2018-11-05 22:55] adamtaylor13 opened #75 "Can you cancel a command based on logic within preexec?"
Hey guys,

Sorry if this already exists as an issue / question. I did some googling and read through the issues where and couldn't find a confirmation one way or another.

One thing that I'd like to do is possibly cancel a command altogether if some certain critera is met.
For example, I tried to run `git push` and hadn't run my linter yet, then I want it to break and not actually run git push.

I

[2018-11-07 21:57] d630 commented on #75
Hey,

IMO, too complicated, unfortunately! I suppose, that's what git hooks are for. If not, you can also use shell aliases, shell functions, or simple wrapper scripts for such things

[2018-11-09 01:05] rcaloras commented on #75
Hi @adamtaylor13, agree with @d630. The easiest way to do this is probably with some aliases or wrappers.

[2018-11-09 01:05] #75 closed

[2018-11-28 13:30] dseomn opened #76 "$this_command is interpreted by `echo`"
A very small number of useless commands are ignored by bash-preexec, because they're [passed to `echo`](https://github.com/rcaloras/bash-preexec/blob/dd689aed44b7485f064256312fa2a420b415ad20/bash-preexec.sh#L202). E.g., the command line `-n` causes bash-preexec to run `echo -n` which does not print `-n`. The solution I've seen is to use `printf '%s\n' ...` instead of `echo`.

[2018-11-29 11:37] steinarvk opened #77 "commands with multiline strings are truncated to first line"
Commands that contain multi-line strings are truncated to the first line. For instance, the following command

echo 'foo
bar'

results in this_command="echo 'foo" being passed to the preexec hooks. The "bar" part is entirely lost. This is because "read" only reads a single line.

[2018-11-29 11:44] steinarvk opened #78 "Whitespace is trimmed from commands"
Whitespace is trimmed from commands. For instance, the command " foo   " is recorded as "foo".

This whitespace is stripped when reading the line from the history with the "read" builtin.

[2018-11-29 16:22] steinarvk opened #80 "bash-preexec fails if user has "nounset" option set"
Some users set the bash option "nounset", which makes evaluating "${foo}" an error if there is no variable named "foo". When expanding as a string, "${foo:-}" can be used to explicitly indicate that it is okay for the variable to be unset and use an empty string instead.

This option currently makes bash-preexec fail all over the place, whether set -u is set before or after it is sourced. Unset va

[2018-11-29 19:01] dimo414 commented on #80
Personally, I don't think supporting `-u` is worth the effort. If you can make it work great, but I think using it (in your shell) is generally an anti-pattern.

+1 for swapping to the bats-core fork though.

[2018-11-29 21:47] steinarvk commented on #80
It may be an anti-pattern, but I think it'd be best not to make that choice on behalf of the user. Shells are highly personal things and the less we make them break in mysterious ways for our users, the better, even if they've made strange choices to get there.

The main practical issue is when code that breaks "nounset" is reached from the debug trap that bash-preexec installs, which means the us

[2018-11-30 04:26] dseomn opened #81 "Copy $PIPESTATUS for precmd_functions."
Would you mind making a copy of [`$PIPESTATUS`](https://www.gnu.org/software/bash/manual/html_node/Bash-Variables.html#index-PIPESTATUS) at the same time as you copy `$?`? I don't know of any way to restore PIPESTATUS for each precmd_function, so just having a copy available would be fine.

[2018-12-02 04:06] #76 closed

[2018-12-02 04:08] #78 closed

[2018-12-02 04:09] #77 closed

[2018-12-03 01:32] rcaloras commented on #80
@steinarvk Thanks for the PR and all the reasoning + logic behind it! On first glance, I agree with @dimo414 that setting `-u` in your shell is an anti-pattern and question if it's worth trying to maintain it in bash-preexec. Looking at the code, I feel it also lowers the readability by inserting `{*:-}` in tons of places.

Do you personally or are you running into users who are having this issue

[2018-12-03 11:34] steinarvk commented on #80
Can confirm that it's not a theoretical concern, but based on an actual user issue. (See the "main practical issue" paragraph: I've not seen anyone setting "set -u" for their entire shell, but I've seen reasonable-seeming usage bleeding into bash-preexec somehow.)

[2018-12-13 14:52] steinarvk commented on #80
Any update on this -- decision to pull or not?

As mentioned this is an issue arising from actual usage. Maintaining a patch for this locally would be somewhat painful for me, since it's so easy to introduce an incompatibility if the tests upstream aren't covering it.

[2018-12-14 14:08] steinarvk commented on #80
Awesome, thanks.

[2018-12-17 13:03] #80 closed

[2018-12-17 13:03] rcaloras commented on #80
Merged. Will try to cut a release later this evening.

[2018-12-20 13:37] steinarvk opened #87 "sed -E does not work with older versions of sed"
This is an issue introduced with my earlier commit 1c9db27 . It uses the -E flag for sed (--regexp-extended), but this is not supported by every version of sed. Specifically I've observed it to fail on GNU sed 4.1.3.

It's probably better to use a variant of d630's suggestion from #79 .

[2018-12-21 11:41] d630 commented on #87
I'm not a regex-pro, but what about:

[code]

[2018-12-21 13:33] rcaloras commented on #87
@steinarvk thanks for reporting! Can one of you guys submit the PR?

[2018-12-25 10:54] #81 closed

[2018-12-27 07:10] dimo414 commented on #87
I went with `sed '1 s/^ *[0-9]\+[* ] //` in http://hg.mwdiamond.com/prompt.gem/commits/f1f67721 - the only difference between it and the variant in 1c9db27 is the  `\`-escaped `+` symbol. I should have called out the risk of `-E` in the PR but I didn't want to be a stickler :) I can send this change if we want.

[2018-12-27 15:55] rcaloras commented on #87
@dimo414 that'd be awesome, please do! :pray:

[2018-12-30 00:46] rcaloras commented on #71
Investigated this a bit more. Looks like the preservation of `PROMPT_COMMAND` was altered in https://github.com/rcaloras/bash-preexec/issues/39. Going to reopen that issue to see if we can keep it preserved.

[2018-12-30 00:59] rcaloras commented on #39
@dimo414 Realized this PR no longer preserves the second half of a user's `PROMPT_COMMAND`. i.e. anything after the bash-preexec install commands. This is due to preserving PROMPT_COMMAND when it's first sourced and not as bash-preexec is being installed during the session init. https://github.com/rcaloras/bash-preexec/blob/f527a328efe72e6a7e7b3dfc213cff4ea37e9fc4/bash-preexec.sh#L306-L311

Any wa

[2019-01-21 18:40] dseomn opened #89 "FreeBSD sed doesn't seem to support \+"
I'm using FreeBSD 11.2-RELEASE-p8, and the first argument passed to preexec functions is wrong:

[code]

Here are two variations that do work:

[code]

Tagging @steinarvk, @d630, and @dimo414 because of #87 and #88.

[2019-01-22 02:12] Gnouc commented on #89
#88 fixed it wrong way. Should be:

[code]

for portability.

Also `LC_ALL` should be set to `C`, otherwise, `[[:digit:]]` should be used.

[2019-02-10 05:30] rcaloras commented on #89
@dseomn thanks for reporting and opening. Mind submitting a PR with your suggested fix? cc @dimo414 as well for any feedback or support.

[2019-02-10 14:22] dseomn commented on #89
@rcaloras, sure, I'm working on it now.

@Gnouc, I'm including `LC_ALL=C` too. Do you know a locale where `[0-9]` wouldn't work, so I can use it in a test?

[2019-02-10 21:55] #89 closed

[2019-02-21 14:26] philastrophist opened #91 "Doesn't work in scripts"
I'd like to ship preexec with somethin I'm working on, just to run it in a script.
It doesn't work at all if I source `bash-preexec.sh` at the top of the script.

`cat my-script.sh`

[code]

[2019-02-23 21:27] rcaloras commented on #91
When/where are you sourcing the script? If it's just being executed bash-preexec's functions will not have any effect on your global state of your bash session. The sourcing of the containing file also should be towards the end of you bashrc/bash_profile.

[2019-03-01 09:42] philastrophist commented on #91
I don't want `bash-preexec` to have an effect on the global state, I just want it to be used whilst the script is running. My use-case is that I want any `git` commands used within the script to echo their signature to stdout before running. That's what the `preexec` function does

[2019-03-04 20:27] rcaloras commented on #91
@philastrophist this behavior is unsupported by bash-preexec. I'm not positive if the debug trap, how bash allows a preexec function, even can work this way in an executed script. I'd suggest either echo-ing the specific commands in the script itself since you're writing it, or I believe there's other ways to setup the script to echo all commands.

Thanks for opening and checking out bash-preexec.

[2019-03-04 20:27] #91 closed

[2019-03-18 14:41] mohd-akram opened #92 "Install fails when bash is in POSIX mode"
I run my bash in POSIX mode and noticed that the install step fails due to how `trap` is used (see [Bash POSIX Mode](https://www.gnu.org/software/bash/manual/html_node/Bash-POSIX-Mode.html)).

To fix it, I did something like this:

[code]

Maybe it would be useful to incorporate this into the script.

[2019-03-27 20:22] stevepp opened #93 "Is it possible to abort several simple commands typed into the command line altogether?"
As shown in # 37, enabling extdebug using the shopt utility and return a non-zero status from the preexec function would cause the next simple command to be skipped. Is it possible to abort several simple commands typed into the command line altogether, which are separated by the control operators such as ";"?

For example, if I typed "uptime; df -h", the first command "uptime" is skipped. However

[2019-04-08 02:04] anhnamtran opened #94 "Reinstalling Bash-preexec Doesn't Work"
Hi, I was wondering if there is a way to "reinstall" Bash-preexec.

Desired behavior:
1. Install BP with `source bash-preexec.sh` and define the functions.
2. Work with it in the terminal a little bit.
3. "Uninstall" by removing `bash-preexec.sh` and running `exec bash`.
4. Work without it just fine.
5. "Reinstall" by downloading and `source bash-preexec.sh` and defining the
functions.
6. BP works

[2019-04-21 23:54] werg commented on #93
I'm dealing with the same issue. @stevepp  did you find a workaround?

[2019-05-04 15:34] rcaloras commented on #94
@anhnamtran Not sure why the DEBUG trap isn't being reset here. You can also try to add some additional debugging  to bash-preexec.sh during the reinstall. The trap should actually be set as part of `PROMPT_COMMAND` on https://github.com/rcaloras/bash-preexec/blob/9811ba8b7694cdbd9debed931e922b67e439197a/bash-preexec.sh#L323 You can probably add some additional logging either in PROMPT_COMMAND as

[2019-05-04 15:56] rcaloras commented on #93
I don't believe there's a way to do this. Closing.

[2019-05-04 15:56] #93 closed

[2019-05-18 02:51] rcaloras commented on #94
Closing. Feel free to re-open @anhnamtran if this is still an issue.

[2019-05-18 02:51] #94 closed

[2019-07-02 21:20] gnachman opened #95 "bash-preexec steps on `var`"
At this line:

https://github.com/rcaloras/bash-preexec/blob/9811ba8b7694cdbd9debed931e922b67e439197a/bash-preexec.sh#L56

Should be preceded by `local var`. I received a downstream pull request from a user:

https://github.com/gnachman/iterm2-website/pull/64

[2019-07-28 02:00] gnachman opened #97 "Could the restriction that bash preexec is the last thing loaded be relaxed?"
I occasionally receive issue reports that bash_preexec is clobbering someone's PROMPT_COMMAND. For example: https://gitlab.com/gnachman/iterm2/issues/7961

I think it might be possible to do some string twiddling to figure out of PROMPT_COMMAND got changed between the time bash_preexec was loaded and when __bp_install gets run, but I suspect there's a stronger reason why this is not wise. What's t

[2019-08-03 19:01] rcaloras commented on #95
should now be fixed on master. Closing.

[2019-08-03 19:01] #95 closed

[2019-08-03 19:17] rcaloras commented on #97
Thanks for opening @gnachman! This is actually a regression as originally bash-preexec preserved `PROMPT_COMMAND` during it's delayed install moving the contents to be invoked during `precmd`. I noticed this a few months back as part of https://github.com/rcaloras/bash-preexec/issues/39#issuecomment-450531807, which I believe was the issue/pr that broke it. This can and should be fixed as having t

[2019-08-03 19:18] rcaloras commented on #97
cc @dimo414 who I was hoping could submit the PR for the fix. I'm willing to take a crack, but haven't been an active contributor the past year.

[2019-10-09 01:25] curusarn opened #100 "Preexec runs before accepting the command line when using readline shell command bindings."
Readline allows us to bind arbitrary shell commands to key sequences using `bind -x`. Using these shell commands results in `preexec()` being executed before accepting the command line instead of after. Plus `preexec()` is executed with the same argument twice effectively skipping the next accepted command-line.

### Example
- Define `preexec()` and `precmd()`
[code]
- Run some commands to see nor

[2019-10-11 00:32] curusarn commented on #100
This issue is very similar to this one: https://github.com/rcaloras/bash-preexec/issues/27

[2020-01-01 09:21] FranklinYu opened #102 "Add function of chpwd"
`chpwd` is also a hook function supported by Zsh. Is there any plan to support it?

[2020-01-02 01:39] rcaloras commented on #102
No plans currently. A naive solution I could think of would probably do something like watch `$OLDPWD` for any changes on precmd, and if so invoke any chpwd functions set inside a function array.

Doesn't sound too difficult. Feel free to submit a PR @FranklinYu if interested :)

[2020-02-07 12:56] mkielar opened #103 "Doesn't work with "z" when sourcing ~/.bashrc again"
So this is a specific case, where I have:
- https://github.com/rupa/z/blob/master/z.sh installed
- https://github.com/rcaloras/bash-preexec installed

My `~/.bashrc` looks like this:
[code]

The problem is, that Z is changing the `PROMPT_COMMAND` variable to this:
[code]
while `bash-preexec` requires it to be this:
[code]

All works fine the first time, but if you `source ~/.bashrc` again, `z` ove

[2020-02-07 13:00] mkielar commented on #103
As a workaround, I've added this:
[code]
below the lines that source `z` and `bash-preexec` and it seems to fix the issue, but it would be much prettier if `bash-preexec` could check which of it's globals were modified, instead of blindly trusting the `__bp_imported` flag.

[2020-02-07 13:16] mkielar opened #104 "preexec is called / not called in weird moments"
I have single `preexec` and `precmd` functions defined.

[code]
When I open new bash window, I get this:

[code]
So, it is called when I open new bash session, it;s not being called for first command in that bash session, and then it's being called again for any subsequent commands....

[2020-02-10 07:22] d630 commented on #103
Try to use `_Z_NO_PROMPT_COMMAND` and to set the hook by yourself

[2020-02-14 15:26] diegobernardes opened #105 "It's possible to prevent the execution of the command?"
I'm looking for a way to use the `preexec` to do some validation and be able to prevent the actual command from being executed.
It's possible to do this?

[2020-02-14 22:45] rcaloras commented on #105
Hey @diegobernardes, don't believe this is currently possible. While you could validate or do operations prior to the command being executed, not sure you could then stop its actual execution. One of the contributors more familiar with bash might have a suggestion though or a way cc @d630

[2020-02-15 18:26] dimo414 commented on #105
According to [this comment](https://github.com/rcaloras/bash-preexec/blob/f558191/bash-preexec.sh#L242) `preexec` respects the [`extdebug` option](https://www.gnu.org/software/bash/manual/html_node/The-Shopt-Builtin.html), which causes "the next command [to be] skipped and not executed" if the `DEBUG` command returns a non-zero value.

So it should be possible as long as using `extdebug` is accept

[2020-02-15 18:34] dimo414 commented on #105
Looks like it works:

[code]

[2020-02-16 02:28] rcaloras commented on #105
@dimo414 thanks for chiming in! Forgot about this :)

Want to underscore this point as my guess is this might make it not a viable solution for @diegobernardes. Closing this issue, feel free to reopen if needed!

[2020-02-16 02:28] #105 closed

[2020-03-15 08:00] dimo414 commented on #92
This should be fixed now, see #106.

That said, POSIX-compatibility is hard to maintain, and shouldn't be expected of a project that doesn't commit to doing so. If you choose to run your shell in POSIX mode you should expect that numerous "standard" Bash features, and libraries that depend on those features, will not work.

[2020-03-15 08:09] dimo414 commented on #97
Sorry I missed this ping; @gnachman do you have a fix in mind? I'd be happy to help review a PR.

Conceptually, though, I think the interplay here is always going to be a bit nuanced, and I'm not certain it will ever be possible to make bash-preexec _totally_ transparent to other behavior running in the same shell. Bash's APIs simply aren't robust enough. So it's a question of what sort of use-cas

[2020-03-15 08:12] dimo414 commented on #100
Do you have any thoughts for how bash-preexec could better handle this situation? I don't think a consensus was reached in #27.

[2020-03-15 08:15] dimo414 commented on #102
I imagine you could implement a `chpwd` hook on top of bash-preexec as is :) Not that it's a bad idea to support directly, but it's not strictly necessary either.

[2020-03-15 08:20] dimo414 commented on #103
Consider sending a PR to Z to detect that bash-preexec is installed and hooking into it if so. See also #39.

[2020-03-15 12:29] curusarn commented on #100
My immediate thought was to use some of the variables that are set when readline widgets are executed (`READLINE_LINE`, `READLINE_POINT`). The problem is that these are not set when the trap is triggered.

I have read the bash manual to look for other suitable variables but I couldn't find any.

I needed to solve this in my project. (https://github.com/curusarn/resh)
I did work around this by re-e

[2020-03-16 14:29] curusarn commented on #100
This is a reply I got from Chet Ramey:

On 3/15/20 7:41 AM, Šimon Let wrote:

Since the DEBUG trap happens before the command executes, it's not a real
`post-command' hook.

They're not set when the the DEBUG trap runs before, say, a shell
function you've bound to a key sequence using `bind -x' is executed, but
they're available to commands called from within that shell function.

No.

I'd have to

[2020-03-16 14:45] curusarn commented on #100
The most important part is that there is no way to tell why was the DEBUG trap triggered.

It seems that there are two options:
1) come up with some ridiculous hack (maybe somehow use both `PS0` and DEBUG trap) - unlikely
2) try to persuade maintainers of bash to make it possible to tell or even to support PRE POST hooks natively

[2020-03-16 17:33] dimo414 commented on #100
It's worth remembering that bash-preexec is _attempting_ to implement support for pre/post on top of a shell that doesn't provide this functionality (as Chet said). There will likely always be gaps in functionality because of this Bash design decision, and if Bash ever provided proper hooks this project would no longer be needed[1].

Certainly if you can identify a reasonable combination of hooks

[2020-03-19 02:06] gitwdel commented on #92
Install fails when bash is in POSIX mode #92

[2020-03-19 02:08] gitwdel opened #107 "PROMPT COMMAND"
case :$SHELLOPTS: in *:posix:*) posix=1;; esac
if [ "$posix" ]; then pre="set +o posix"; post="set -o posix"; fi
. bash-preexec.sh
PROMPT_COMMAND="$pre
$PROMPT_COMMAND
$post"

[2020-03-19 02:10] gitwdel commented on #107
#107

[2020-03-19 23:52] rcaloras commented on #92
@mohd-akram can you confirm latest master fixes this? Closing feel free to reopen otherwise.

[2020-03-19 23:52] #92 closed

[2020-03-20 05:08] gnachman commented on #97
I don't quite understand the pathology. If you do this after sourcing bash-preexec:
[code]

then you get:

[code]

I can't for the life of me figure out why. It's not inside any function in bash-preexec.

[2020-03-20 22:43] dimo414 commented on #97
See the line that [sets `PROMPT_COMMAND`](https://github.com/rcaloras/bash-preexec/blob/e36de17/bash-preexec.sh#L324); newlines are used to delimit instead of `;`, and the string ends with a `\n` so `PROMPT_COMMAND="${PROMPT_COMMAND}echo hi"` ought to work. I'm not certain why there's a trailing newline, since if there wasn't your example would work, but you can look through the commits that touch

[2020-04-09 01:08] rcaloras commented on #103
@mkielar thanks for the feedback. Closing as a duplicate of #39

[2020-04-09 01:08] #103 closed

[2020-05-05 05:27] gnachman opened #108 "fc prints debug trap"
The bash builtin `fc` opens your editor and lets you edit the command line. Upon saving and exiting the editor, bash prints the debug trap (which is `__bp_preexec_invoke_exec` when bash-preexec is installed); then it prints the command to stdout, and then runs the command. This is a bug in bash, as discussed here:

https://lists.gnu.org/archive/html/bug-bash/2020-04/msg00016.html

It'll probably b

[2020-05-05 07:00] dimo414 commented on #108
It doesn't really seem like it should be part of bash-preeexec to me, is there a particular reason you think it should?

[2020-05-06 07:05] gnachman commented on #108
It's pretty ugly see `__bp_preexec_invoke_exec` printed every time you use `fc`. In vi mode, it's the `v` command; in emacs mode it's C-x C-e.  The reason I think it might belong in bash-preexec is that bash-preexec is triggering a bug in bash which could be worked around. I think the bgest counterargument is that bash ought to fix their bug instead of accruing technical debt to bash-preexec. But

[2020-05-06 12:40] d630 commented on #108
Hm. You might also use your own binding to `v`  and `C-x C-e`! :roll_eyes:

One without fc (which sets `set -v`)

[2020-05-06 22:07] dimo414 commented on #108
I agree the DEBUG trap being printed by `set -v` is noisy, but it seems like intentional behavior (prior to the change made in the linked thread), and isn't specific to bash-preexec.

The proposal to disable the DEBUG trap prior to running a command seems at odds with the purpose of bash-preexec, and seems (to me) like a worse behavior than spurious output.

[code]

Not to mention that `fc` isn't

[2020-05-07 06:14] gnachman commented on #108
For me aliasing fc does affect C-x C-e. But you're right: if it doesn't fire for the command entered from fc's editor then it's a no-go. I think we'll have to wait for bash to release their fix. Sorry for the wild goose chase!

[2020-05-07 06:14] #108 closed

[2020-05-07 06:26] d630 commented on #108
[code]

[2020-05-15 01:16] Arinerron commented on #67
For others who are working on this and want a bash + zsh solution, I wrote this ugly hack based on @d630's first message:

[code]

Example:

[code]

In a way it works?

[2020-05-19 12:45] Blaisorblade commented on #97
@dimo414 IIUC the problem happens because https://github.com/rcaloras/bash-preexec/pull/50 dropped the string parsing of PROMPT_COMMAND, while using a different method to capture both debug traps and PROMPT_COMMAND.

What about going back to the old string parsing for PROMPT_COMMAND and keep the new support for debug traps? I understand that's not pretty, but did that have actual issues? I don't s

[2020-08-20 00:51] rcaloras commented on #103
Examining this more closely as I'm working on a fix for #97 and #39. This is a somewhat different issue where bash-preexec breaks if you mutate `PROMPT_COMMAND` after starting your shell such that `__bp_interactive_mode` is not the last thing invoked in`PROMPT_COMMAND`. There's a potential fix for this in that we can have bash-preexec effectively reset PROMPT_COMMAND even if it's been imported.

R

[2020-08-21 02:14] rcaloras commented on #97
Put together https://github.com/rcaloras/bash-preexec/pull/110 which should address this and #39. @dimo414 any chance you could take a look to help review?

[2020-08-22 19:19] dseomn opened #111 "Preexec is called when exiting bash with Ctrl-D"
Possibly related to #104 but I'm not sure. With bash-preexec 0.4.0 and bash 5.0.18(1)-release, the preexec function is called with the last command when exiting bash with Ctrl-D:

[code]

[2020-08-22 21:45] #111 closed, assigned to nobody

[2020-08-27 17:16] rcaloras commented on #71
This should be fixed in 0.4.0 since #39 is now fixed. Closing out.

[2020-08-27 17:16] #71 closed

[2020-08-27 17:43] #19 closed

[2020-08-28 07:15] gnachman commented on #97
Thanks for the fix @rcaloras ! I'll deploy it and see if anyone hollers.

[2020-11-07 23:11] FranklinYu opened #113 "Return immediately when running in Zsh"
This might sound weird, but some users choose to source this script for both Bash and Zsh. I think it doesn’t harm to have something like this in the beginning:

[code]

[2020-11-08 23:32] rcaloras commented on #113
@FranklinYu thanks for the feedback! This should already be accounted for in:https://github.com/rcaloras/bash-preexec/blob/7884535ed423ac27d3b6b473c61b1fe41905aca1/bash-preexec.sh#L322

This line should effectively cause this script to exit with `1` when trying to source with zsh or any shell other than Bash. Please let me know if I'm mistaken.

[2020-11-10 23:49] FranklinYu commented on #113
Thank you very much. I have noticed this line, but it is very late in the script. At that time all the functions and variables are already there. How about moving this 4 lines to the top?

[2020-11-11 01:15] rcaloras commented on #113
Noticed this when you first posted, but didn't give it much thought. Thanks for the feedback. Updated in https://github.com/rcaloras/bash-preexec/pull/114

[2020-11-11 02:45] #113 closed

[2021-02-15 07:23] cornfeedhobo opened #115 "[Bug] HISTCONTROL ignore* setting should be respected"
I understand the current reasoning for removing `ignorespace` and `ignoreboth` but I think they break such an important expectation for users that, if set, preexec should manually cleanup history, to guarantee this expectation is maintained.

[2021-02-15 18:46] rcaloras commented on #115
@cornfeedhobo thanks for the feedback! This has been brought up a few times in different ways. Here's a few thoughts related that could help or shed light:

1. There's an open PR currently for what I believe you're suggesting. My take on this is that it inflates the job bash-preexec is doing to account for this edge case. In addition, actual histcontrol settings will be inconsistent with the resul

[2021-02-23 05:25] cornfeedhobo commented on #115
@rcaloras Thanks for the thoughtful reply! I had not see iTerm's issue when searching. After playing around and thinking about this more, I've come to the conclusion that preexec should do this heavy lifting. I realize that this will make histcontrol inconsistent, but given the fact that this library already requires total control over DEBUG and PROMPT_COMMAND, I think adding this inconsistency is

[2021-06-18 19:35] sullivan-sean commented on #104
Has anyone found a solution for this? I'm also running into this issue running `bash 5.1.8(1)-release` and `bash-preexec v0.4.1`

[2021-06-19 11:28] rcaloras commented on #104
@sullivan-sean same exactly as described here? And bash-preexec.sh is the last thing included in your bash configuration?

[2021-07-06 11:39] clupasq opened #116 "`__bp_preexec_invoke_exec "$_"` printed when running multiple commads"
I originally discovered this when using [bash-it](https://github.com/Bash-it/bash-it), and posted an issue there as well: https://github.com/Bash-it/bash-it/issues/1895
I'm reproducing the relevant bits:

<kbd>Ctrl</kbd> + <kbd>X</kbd>, <kbd>Ctrl</kbd> + <kbd>E</kbd> allows opening the current bash command in the default editor.
I sometimes to this to enter multiple commands (separated by newline)

[2021-07-27 20:46] gaelicWizard commented on #10
I vote very much against automatically and silently changing user settings. If a condition can't be worked around, then warn loudly before tweaking.

@rcaloras, is the purpose of the history check specifically just to make sure preexec runs once-per-interactive-line (rather than DEBUG per simple command)?

[2021-07-28 00:37] gaelicWizard commented on #10
I answered my own question by re-rereading and I have a separate PR open, so please disregard my comments here.

[2021-07-28 05:44] gaelicWizard commented on #115
I've come to understand over the last 24 hours (after I submitted an admittedly grumpy PR to just rip out the history manipulation) that the use case is largely to set the window title or similar with the actual command line entered by the user. Of course this can alsö be used for logging, or perhaps debugging. Aliases are alsö lost from $BASH_COMMAND, so the as-typed may appear substantially diff

[2021-07-28 06:12] gaelicWizard commented on #115
@rcaloras, this alsö partially addresses your concern that it's editing history even if the user adds `ignorespace` again after `__bp_adjust_histcontrol`.  In that case, when I use `$BASH_COMMAND`, I alsö clear `__bp_ignorespace` to bypass history deletion. (It would alsö bypass as the command doesn't start with a space, but belt-and-suspenders.)

BUT, if the user were to examine `$HISTCONTROL` th

[2021-07-28 06:12] gaelicWizard commented on #115
@rcaloras, this alsö partially addresses your concern that it's editing history even if the user adds `ignorespace` again after `__bp_adjust_histcontrol`.  In that case, when I use `$BASH_COMMAND`, I alsö clear `__bp_ignorespace` to bypass history deletion. (It would alsö bypass as the command doesn't start with a space, but belt-and-suspenders.)

BUT, if the user were to examine `$HISTCONTROL` th

[2021-07-28 06:16] gaelicWizard commented on #115
@rcaloras, this alsö partially addresses your concern that it's editing history even if the user adds `ignorespace` again after `__bp_adjust_histcontrol`.  In that case, when I use `$BASH_COMMAND`, I alsö clear `__bp_ignorespace` to bypass history deletion. (It would alsö bypass as the command doesn't start with a space, but belt-and-suspenders.)

BUT, if the user were to examine `$HISTCONTROL` th

[2021-07-28 06:17] gaelicWizard commented on #115
And I have, at just this moment, that @rcaloras appears to be behind BashHub.com which is a significant use case for preserving the command line as-user-typed.

[2021-10-16 15:59] tycho-kirchner commented on #28
Haven't checked further but one idea could be to send a signal from the PS0-subshell.

test.sh:
[code]

Terminal session:
[code]

In the bash manual I don't see a dealbreaker:

[2021-11-01 22:21] rycee opened #121 "Tests fail with bats 1.5.0"
See below for a test run with Bats 1.5.0 (the same run succeeds with Bats 1.4.1). Originally found in a [NixOS CI job](https://hydra.nixos.org/build/156972814/nixlog/2).

[code]

[2022-01-19 10:02] FranklinYu opened #122 "official way to detect whether bash-preexec is loaded"
1. `[[ "$(declare -p preexec_functions)" =~ "declare -a" ]] 2>/dev/null`
 2. `[[ -n ${__bp_imported} ]]`

Concern with 1 is that the test suite doesn’t guarantee existence of variable `preexec_functions`; note that in a fresh Zsh, this variable is undeclared. Concern with 2 is that I’m not sure whether this is part of the public API (given the `__bp_` prefix).

[2022-01-19 18:16] rcaloras commented on #122
I'd advocate for 2. It's not intended to be part of the public api (given the prefix), but I think it's much more practical. If needed feel free to submit a PR to rename to remove the underscores.

[2022-01-19 19:07] dimo414 commented on #122
`__bp_imported` is what I check as well: https://github.com/dimo414/prompt.gem/blob/8a8d415052abd51f7c089df8473b7b64a7768d65/commands.sh#L25

[2022-01-26 22:56] gpxlnx opened #126 "Line number exit outpu command ?"
Hey guys,

Is there any way to display, for example, the number of lines in the output of a command?

Ex.

$ ls
1 file1
2 arch2
3 arch3

[2022-01-27 01:41] dimo414 commented on #126
There's the [`nl`](https://manpages.debian.org/nl) command, or equivalently a custom bit of Bash could do the same in a few lines, but I don't think there's any way to hook into the pipeline like this at the time(s) bash-preexec is running without somehow modifying the command itself.

[2022-01-27 10:25] #122 closed

[2022-02-22 20:58] #126 closed

[2022-03-06 19:11] dimo414 opened #130 "Bash 5.1 supports making PROMPT_COMMAND an array"
*This isn't strictly a bug/FR; if you feel like enabling Discussions for this repo I can repost this as a discussion*

I noticed [Bash 5.1](https://tiswww.case.edu/php/chet/bash/NEWS) allows `PROMPT_COMMAND` to be an array:

This obviously won't help older releases that bash-preexec continues to support, but it's an interesting new development we might want to utilize. It would help situations lik

[2022-03-06 22:40] akinomyoga commented on #130
FYI, in the bug-bash mailing list, there has been [a discussion](https://lists.gnu.org/archive/html/bug-bash/2020-08/msg00132.html) on how to handle the situation when there are both types of configurations that assumes the scalar `PROMPT_COMMAND` and the array `PROMPT_COMMAND`. [ Note that there have been two distinct variables `PROMPT_COMMAND` and `PROMPT_COMMANDS` in 5.1-alpha, but `PROMPT_COMM

[2022-06-23 13:48] jamie-wearsafe opened #132 "ShellCheck highlights several issues with the file - Shellcheck could be disabled, or issues resolved"
It can be disabled by adding this line to the shell file:

[code]
Issues can be seen by adding the script to the [shellcheck online editor](https://www.shellcheck.net/):
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/52926764/175314677-408eb38d-3901-42dd-b292-3dc6212ba3c9.png">

[2022-06-25 18:36] dimo414 commented on #132
Feel free to send a PR addressing the ShellCheck findings, but it would be good to limit the disable directives to specific offending lines where possible.

[2022-08-27 03:01] Tallicia opened #134 "post_cmd functionality addition"
Is there a way to add a post_cmd array so after the pre_cmds and command is run something additional is run, such as a duration caclulation?

[2022-08-27 03:27] akinomyoga commented on #134
I think the names of the hooks are somehow opposite. I guess what you are calling `pre_cmds` is actually what is called `preexec` in `bash-preexec`, and what you call `post_cmd` is usually called `postexec` (unsupported by bash-preexec) but is *mostly* the same as what is called `precmd` in `bash-preexec`. The difference is that `precmd` is also called on the startup and after empty commands, whil

[2022-09-04 05:14] dimo414 commented on #134
For calculating execution duration you can indeed use precmd + preexec (I have an example in [prompt.gem](https://github.com/dimo414/prompt.gem/blob/master/functions.sh), see `prompt::_command_start` and `prompt::_set_ps1`).

However note that bash-preexec is simply a user-friendly wrapper around the hooks bash exposes, and bash doesn't expose enough hooks to fully implement pre- and post- hooks f

[2022-09-04 05:14] #134 closed

[2022-09-11 16:24] rcaloras commented on #132
Should be addressed in #135

[2022-09-11 16:24] #132 closed

[2022-11-16 10:58] benjamb commented on #121
@rycee This should be fixed in bats 1.8.0. The relevant fix is: https://github.com/bats-core/bats-core/commit/c8b5bbade301cecb9e8039615a4125269ec24891

[2022-11-16 11:08] akinomyoga commented on #121
Ah, this is reported here. I actually submitted the fix to `bats-core` for the test failure in `bash-preexec` but haven't recognized that the issue was already reported here. Thank you for the comment. @rcaloras Now I think this issue can be closed.

(And, now I noticed my typo in the commit message `s/sepcial/special/`...)

[2022-11-16 17:04] rcaloras commented on #121
Great. Thanks as always @akinomyoga!

[2022-11-17 08:42] rycee commented on #121
Thanks, I tester just now with bats 1.8.2 and curiously I get

[code]

[2022-11-17 09:28] akinomyoga commented on #121
I'm not sure why I overlooked this, but this seems to be an oversight of updating tests in #131. Lines [212](https://github.com/rcaloras/bash-preexec/pull/131/files#diff-9452363e390bda524fdadd7ee05e6db87bae6dd4444edfb4c29382d78afa14c5R212) and [248](https://github.com/rcaloras/bash-preexec/pull/131/files#diff-9452363e390bda524fdadd7ee05e6db87bae6dd4444edfb4c29382d78afa14c5R248) in `test/bash-preex

[2022-11-17 09:40] akinomyoga commented on #121
@rycee I realized that this is actually already fixed in the `master` by @rcaloras 17 hours ago! You can pull the latest master and try it!

[2022-11-17 09:45] rycee commented on #121
@akinomyoga Indeed, with latest master all tests pass. Thanks!